<div class="buildVersion-edit">
  <h1>{{title}}</h1>
  <p *ngIf="this.id && !buildVersion"><em>Loading...</em></p>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <!-- Name -->
    <mat-form-field>
      <mat-label>ProjectName:</mat-label>
      <input matInput formControlName="projectName" required placeholder="Type a projectname">

      <mat-error *ngIf="this.form.controls['projectName'].errors?.['required']">
        ProjectName is required.
      </mat-error>
    </mat-form-field>

    <!-- Major -->
    <mat-form-field>
      <mat-label>Major</mat-label>
      <input matInput formControlName="major" required placeholder="Type a Major number">

      <mat-error *ngIf="this.form.controls['major'].errors?.['required']">
        Major number is required.
      </mat-error>
    </mat-form-field>

    <!-- Minor -->
    <mat-form-field>
      <mat-label>Minor</mat-label>
      <input matInput formControlName="minor" required placeholder="Type a Minor number">

      <mat-error *ngIf="this.form.controls['minor'].errors?.['required']">
        Minor number is required.
      </mat-error>
    </mat-form-field>

    <!-- Build -->
    <mat-form-field>
      <mat-label>Build</mat-label>
      <input matInput formControlName="build" required placeholder="Type a Build number">

      <mat-error *ngIf="this.form.controls['build'].errors?.['required']">
        Build number is required.
      </mat-error>
    </mat-form-field>

    <!-- Revision -->
    <mat-form-field>
      <mat-label>Revision</mat-label>
      <input matInput formControlName="revision" required placeholder="Type a Revision number">

      <mat-error *ngIf="this.form.controls['revision'].errors?.['required']">
        Revision number is required.
      </mat-error>
    </mat-form-field>

    <!-- SemanticVersionText -->
    <mat-form-field>
      <mat-label>SemanticVersionText</mat-label>
      <input matInput formControlName="semanticVersionText" required placeholder="Type a SemanticVersionText number">

      <mat-error *ngIf="this.form.controls['semanticVersionText'].errors?.['required']">
        SemanticVersionText number is required.
      </mat-error>
    </mat-form-field>

    <div>
      <button mat-flat-button color="primary" type="submit">
        {{ this.id ? "Save" : "Create" }}
      </button>
      <button mat-flat-button color="secondary" [routerLink]="['/buildversions']">
        Cancel
      </button>
    </div>
  </form>
</div>
